<section>
  <section class="back-section">
    <button class="back-button" mat-icon-button (click)="onBackClick()">
      <mat-icon class="back-icon">arrow_back</mat-icon>
    </button>
    <div class="subtitle">Técnico/a en Cuidados Auxiliares de Enfermería</div>
  </section>
  <div class="info-section">
    <p class="info-text">
      Consulta la informacion sobre cualquier Técnico/a en Cuidados Auxiliares de Enfermería en las listas oficiales del SAS
    </p>
    <a routerLink="/tcaes/ope" class="link-button">
      <span>Concurso oposición 2023</span>
    </a>
    <a routerLink="/tcaes/bolsa" class="link-button">
      <span>Bolsa</span>
    </a>
  </div>
</section>
