.main-content{
  max-width: 700px;
}

.spinner{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.search-form{
  margin: 20px 20px 0px 20px;
}

.alert {
  margin-left: 20px;
  margin-right: 20px;
  background: linear-gradient(to right, #ffedd5, #fef9c3);
  border: 1px solid #fdba74;
  padding: 1rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.alert-text {
  color: #9a3412;
  font-size: 0.875rem;
  font-weight: 500;
}

.info-section {
  background: linear-gradient(to right, #e0e7ff, #f3e8ff);
  padding: 1rem;
  border-radius: 0.5rem;
  margin: 20px;
}

.info-text {
  color: #581c87;
  font-weight: 500;
  margin-bottom: 1rem;
}

.link-button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem 1rem;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 0.5rem;
  color: #6b21a8;
  text-decoration: none;
  font-weight: 500;
  margin-bottom: 0.75rem;
  transition: all 0.2s;
}

.members-section{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__leading,
.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__trailing {
  border-color: #d8b4fe !important;
  border-width: 2px !important;
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__notch{
  border-top-color: #d8b4fe !important;
  border-bottom-color: #d8b4fe !important;
  border-width: 2px !important;
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused
.mdc-notched-outline__leading,
.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused
.mdc-notched-outline__trailing {
  border-color: #db2777 !important;
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused
.mdc-notched-outline__notch{
  border-top-color: #db2777 !important;
  border-bottom-color: #db2777 !important;
  border-width: 2px !important;
}

.mdc-text-field--outlined {
  --mdc-outlined-text-field-container-shape: 0.75rem;
}

mat-form-field {
  width: 100%;
}

mdc-floating-label{
  color: red !important ;
}

.back-icon{
  color: #db2777;
}

.back-section{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.back-button{
  margin-top: 10px;
  margin-left: 10px;
}

.subtitle{
  margin-top: 10px;
  margin-left: 5px;
  color: #db2777;
  font-size: 1.2em;
}


