<section>
  <section class="back-section">
    <button class="back-button" mat-icon-button (click)="onBackClick()">
      <mat-icon class="back-icon">arrow_back</mat-icon>
    </button>
    <div class="subtitle">Enfermero/a</div>
  </section>
  <div class="info-section">
    <p class="info-text">
      Consulta la informacion sobre cualquier enfermero/a en las listas oficiales del SAS
    </p>
    <a routerLink="/nurses/ope" class="link-button">
      <span>Concurso oposición 2023</span>
    </a>
    <a routerLink="/nurses/bolsa" class="link-button">
      <span>Bolsa general </span>
    </a>
    <a routerLink="/nurses/critics" class="link-button">
      <span>Bolsa área de cuidados críticos </span>
    </a>
    <a routerLink="/nurses/dialysis" class="link-button">
      <span>Bolsa área de diálisis</span>
    </a>
    <a routerLink="/nurses/nuclear" class="link-button">
      <span>Bolsa área de medicina nuclear</span>
    </a>
    <a routerLink="/nurses/neonates" class="link-button">
      <span>Bolsa área de Nenonatología</span>
    </a>
    <a routerLink="/nurses/surgery" class="link-button">
      <span>Bolsa área de quirófano</span>
    </a>
    <a routerLink="/nurses/mental" class="link-button">
      <span>Bolsa área de salud mental</span>
    </a>
    <a routerLink="/nurses/work" class="link-button">
      <span>Bolsa especialista en enfermería del trabajo </span>
    </a>
    <a routerLink="/nurses/mental/specific" class="link-button">
      <span>Bolsa especialista en enfermería de salud mental </span>
    </a>
    <a routerLink="/nurses/gyne" class="link-button">
      <span>Bolsa especialista en enfermería obstétrico-ginecológica (matrón/a) </span>
    </a>
    <a routerLink="/nurses/family" class="link-button">
      <span>Bolsa especialista en enfermería familiar y comunitaria </span>
    </a>
    <a routerLink="/nurses/pediatrician" class="link-button">
      <span>Bolsa especialista en enfermería pediátrica </span>
    </a>
  </div>
</section>
