
<mat-card appearance="raised" class="member-card">
  <mat-card-header><span class="name">{{ nurse.name }} {{ nurse.surname }}</span></mat-card-header>
  <mat-card-content>
    <section class="card-content">
      <article class="item">
        <article class="info-row">
          <span class="dni">DNI: {{ nurse.dni }}</span>
          <span>Turno: {{ nurse.shift }}</span>
        </article>
      </article>
      <div class="score-card">
        <div class="list-section">
          <div class="list-title">Estado</div>
          <div class="note">
            <span class="note-title">Tratado:</span>
            <span class="note-value">{{nurse.treaty}}</span>
          </div>
          <div class="note">
            <span class="note-title">Admisión:</span>
            <span class="note-value">{{nurse.status}}</span>
          </div>
          @if (nurse.status == Status.EXCLUIDA){
            <div class="note">
              <span class="note-title">Código de exclusión:</span>
              <span class="note-value">{{nurse.exclusionReason.code}}</span>
            </div>
            <mat-accordion>
              <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
                <mat-expansion-panel-header>
                  <mat-panel-title class="exclusion-title">Motivo de exclusión</mat-panel-title>
                </mat-expansion-panel-header>
                <p class="exclusion-reason-text">{{nurse.exclusionReason.reason}}</p>
              </mat-expansion-panel>
            </mat-accordion>
          }
        </div>
      </div>
      <div class="score-card">
        <div class="list-section">
          <div class="list-title">Baremo provisional</div>
          <div class="note">
            <span class="note-title">Experiencia:</span>
            <span class="note-value">{{nurse.scale.experience}}</span>
          </div>
          <div class="note">
            <span class="note-title">Formación:</span>
            <span class="note-value">{{nurse.scale.formation}}</span>
          </div>
          <div class="note">
            <span class="note-title">Otros:</span>
            <span class="note-value">{{nurse.scale.others}}</span>
          </div>
          <div class="note">
            <span class="note-title">Total:</span>
            <span class="note-value total">{{nurse.scale.total}}</span>
          </div>
        </div>
      </div>
    </section>
  </mat-card-content>
</mat-card>
