<div class="info-section">
  <p class="info-text">
    Consulta la informacion sobre cualquier enfermero/a en las listas oficiales del SAS
  </p>
  <a routerLink="/ope" class="link-button">
    <span>Concurso oposición 2023</span>
  </a>
  <a routerLink="/bolsa" class="link-button">
    <span>Bolsa general </span>
  </a>
  <a routerLink="/critics" class="link-button">
    <span>Bolsa área de cuidados críticos </span>
  </a>
  <a routerLink="/dialysis" class="link-button">
    <span>Bolsa área de diálisis</span>
  </a>
  <a routerLink="/nuclear" class="link-button">
    <span>Bolsa área de medicina nuclear</span>
  </a>
  <a routerLink="/neonates" class="link-button">
    <span>Bolsa área de Nenonatología</span>
  </a>
  <a routerLink="/surgery" class="link-button">
    <span>Bolsa área de quirófano</span>
  </a>
  <a routerLink="/mental" class="link-button">
    <span>Bolsa área de salud mental</span>
  </a>
  <a routerLink="/work" class="link-button">
    <span>Bolsa especialista en enfermería del trabajo </span>
  </a>
  <a routerLink="/mental/specific" class="link-button">
    <span>Bolsa especialista en enfermería de salud mental </span>
  </a>
  <a routerLink="/gyne" class="link-button">
    <span>Bolsa especialista en enfermería obstétrico-ginecológica (matrón/a) </span>
  </a>
  <a routerLink="/family" class="link-button">
    <span>Bolsa especialista en enfermería familiar y comunitaria </span>
  </a>
  <a routerLink="/pediatrician" class="link-button">
    <span>Bolsa especialista en enfermería pediátrica </span>
  </a>
</div>
