<section class="layout">
  <span class="title">Información de candidatos a enfermero/a del SAS</span>
  <form class="example-form">
    <mat-form-field>
      <mat-label>Apellidos</mat-label>
      <input type="search" matInput [formControl]="searchControl">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </form>
  <section class="members-section">
    @for (member of (members | async); track $index) {
      <app-member [member]=member />
    }
  </section>
</section>
<footer class="footer">
  <a href="mailto:jtbenavente@gmail.com">Jaime Torres</a>
  <span>&copy;</span> 2024
</footer>