
<mat-card appearance="raised" class="member-card">
    <mat-card-header><span class="name">{{ nurse.name }} {{ nurse.surname }}</span></mat-card-header>
    <mat-card-content>
        <section class="card-content">
            <article class="item">
                <article class="info-row">
                    <span class="dni">DNI: {{ nurse.dni }}</span>
                    <span>Turno: {{ nurse.shift }}</span>
                </article>
            </article>
            <div class="score-card">
                <div class="list-section">
                    <div class="list-title">Lista definitiva</div>
                    <div class="note">
                        <span class="note-title">Nota opos.:</span>
                        <span class="note-value">{{nurse.finalScore.op}}</span>
                    </div>
                    <div class="note">
                        <span class="note-title">Nota conc.:</span>
                        <span class="note-value">{{nurse.finalScore.con}}</span>
                    </div>
                    <div class="note">
                        <span class="note-title">Nota total:</span>
                        <span class="note-value">{{nurse.finalScore.total}}</span>
                    </div>
                    <div class="position">
                        <div class="pos">
                            <span>Posición</span>
                            <span>{{ nurse.finalScore.position }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="score-card">
              <div class="list-section">
                <div class="list-title">Lista provisional</div>
                @if (nurse.provisionalScore) {
                  <div class="note">
                    <span class="note-title">Nota opos.:</span>
                    <span class="note-value">{{nurse.provisionalScore.op}}</span>
                  </div>
                  <div class="note">
                    <span class="note-title">Nota conc.:</span>
                    <span class="note-value">{{nurse.provisionalScore.con}}</span>
                  </div>
                  <div class="note">
                    <span class="note-title">Nota total:</span>
                    <span class="note-value">{{nurse.provisionalScore.total}}</span>
                  </div>
                  <div class="position">
                    <div class="pos-prov">
                      <span>Posición</span>
                      <span>{{ nurse.provisionalScore.position }}</span>
                    </div>
                  </div>
                }
                @else {
                  <mat-card-content>No esta en la lista</mat-card-content>
                }
              </div>
            </div>
        </section>
    </mat-card-content>
</mat-card>
